* {
	margin: 0;
	padding: 0;
	box-sizing: 'border-box'
}

body {
	background-color: #242424
}

h1 {
	color: skyblue;
	padding-left: 10rem;
	padding-top: 3rem;
}

#btn-div {
	padding-left: 10rem;
	padding-top: 3rem;
	gap: 1rem;
}

#titles-btn,
#sub-btn {
	padding: 0.25rem 0.5rem;
}

#page-output {
	padding-left: 10rem;
	padding-top: 3rem;
	color: gray;
}
