* {
	margin: 0;
	padding: 0;
	box-sizing: 'border-box'
}

body {
	background-color: #242424
}

h1 {
	color: steelblue;
	text-align: center;
	padding: 2rem;
}

#btn-div {
	display: flex;
	align-items: center;
	justify-content: center;
}

#titles-btn,
#sub-btn {
	padding: 0.5rem 1rem;
}

#page-output {
	padding: 5rem;
	color: gray;
}
